@import "/styles/about.css";
@import "/styles/style.css";
@import "/styles/reset.css";
@import "/styles/skills.css";
@import "/styles/projects.css";
@import "/styles/contacts.css";
@import "/styles/home.css";
@import "/styles/mobile-m.css";

html,
body {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  /* width: 100%; */
  padding: 0px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading-one {
  color: white;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}
.heading-three {
  font-size: 24px;
  text-align: center;
}

@media (max-width: 500px) {
  .heading-one {
    font-size: 26px;
  }
  .heading-three {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .heading-one {
    font-size: 22px;
  }
}
