.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(-100vw);
  opacity: 0.85;
}
.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translate(0);
}
.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translate(-100vw);
}

/* NAV MENU ITEMS */

.mobile__nav,
.mobile__nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}
.mobile__nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}
.mobile__nav ul li {
  height: 20%;
  overflow: hidden;
  position: relative;
}
.mobile__nav li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  text-align: center;
  color: var(--primaryColor);
  font-size: 26px;
  top: 40%;
  position: relative;
}
.mobile__nav li a:hover {
  transform: scale(1.2);
}
.mobile__nav li a::before {
  content: "";
  width: 0vw;
  height: 3px;
  background-color: var(--primaryColor);
  position: absolute;
  top: 45%;
  left: 0;
  opacity: 0;
  transition: width 0.7s;
}
li a:hover::before {
  width: 30vw;
  opacity: 1;
}

.mobile__nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}
.mobile__nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}
.mobile__nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}
.mobile__nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}
.mobile__nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: absolute;
  top: 45px;

  right: 100px;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

@media (max-width: 750px) {
  .menu-bars {
    display: block;
  }
}
