.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0px;
}

.swiper {
  width: 1200px;
}

.projects_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  background-color: var(--navColor4);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
.projects__card {
  width: 100%;
  height: 220px;
}

.projects-img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}
